#details {
    /* font-family: Arial, Helvetica, sans-serif; */
    border-collapse: collapse;
    width: 100%;
}
#details td, #details th {
    background-color: #191919;
    color: #f4f4f4;
    border: 1px solid #f4f4f4;
    padding: .55em .95em;
    text-align: center;
}

#details th {
    /* text-align: left; */
    background-color: #191919;
    color: #f4f4f4;
}

.customer__info {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 1.75em;
}

.customer__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #f4f4f4;
}
        
.customer__avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.customers-details{
    width: 100%;
}